@model ShippingAddressVM

@{
    ViewData["Title"] = "Edit shipping address" ;
}

<div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-7 col-lg-8">

        <h4>Shipping Address</h4>
        <hr class="bg-info" />
        <div class="card shadow-lg">
            <div class="card-body">
             
        <form asp-action="Edit" method="post" asp-route-id=@Model.ShippingAddressId>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ShippingAddressId" />
            <partial name="_shipingAddressForm.cshtml" />
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
