@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h4 class="">

        Welcome! I make 3D wall art, specializing in butterflies and dragons in many colors.
        Many buy my art to decorate their new baby's nursery, for a special event such as wedding,
        birthday or shower, or for any room that can use a unique pop. Everything is removable & wall-safe!♥
        I also make cute wood jewelry with a focus on nature. All pieces by me, Jacqueline Jean. Thanks for stopping by!

    </h4>

</div>
