@model UserProfileVM
@{
    ViewData["Title"] = Model.CurrentUser.FName + "'s Profile";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="UpdateUserProfileAsync">
    <div class="input-group">
        <span></span>
        <input type="text">
        <button></button>
    </div>
    <div class=>
        <span></span>
        <input type="text">
        <button></button>
    </div>
    <div class=>
        <span></span>
        <input type="text">
        <button></button>
    </div>
    <div class=>
        <span></span>
        <input type="text">
        <button></button>
    </div>
    <div class=>
        <span></span>
        <input type="text">
        <button></button>
    </div>
    <div class=>
        <span></span>
        <input type="text">
        <button></button>
    </div>
    <div class=>
        <span></span>
        <input type="text">
        <button></button>
    </div>
    <div class=>
        <span></span>
        <input type="text">
        <button></button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}