@model MerchantVM
@{
    ViewData["Title"] = "Product management";
}

<div class="product-list-view">
    <ul>
        @foreach (var product in Model.Products)
            {
                Html.DisplayFor(model => product);
            }
    </ul>
</div>
