@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Listing";
}
@model Listing

@if (Model != null)
{
    <h1>ListingTitle</h1>
    <div id="imageContainer">
        @if (Model.Images.Count() > 0)
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Images.First()!.ImageData!)" width="300px" />
        }
        else
        {
            <div style="background-color: @Model.ListingColorJTs.First().ListingColor.HexValue; width: 300px; height: 300px;"></div>
        }
    </div>

}
