@model Product
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<div class="card">
    @if (Model.ProductImage is not null)
    {
        <img class="card-img-top" src="@Model.ProductImage.ImageData" alt="Product Image">
    }
    else
    {

        <img src="~/images/butterflys.png" class="card-img-top" />
    }
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="my-0 card-text card-description">
            @Model.Description
        </p>
        @*TODO set tooltip for color viewer.*@

        <p class="hide-instructions">Edit this Product</p>
        <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <div class="color-viewer">
                @foreach (Color color in Model.Colors)
                {
                    <div class="color-splotch" style="background-color:@color.HexValue;">
                    </div>

                }
            </div>
        </a>


    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>