
/*
font-family: 'Amatic SC', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Nova Oval', cursive;
font-family: 'Manrope', sans-serif;
*/

.text-secondary {
    color: #4e803d !important;
    filter: contrast(4.5) saturate(2);
}

.align-bottom {
    vertical-align: bottom !important;
}

.align-top {
    vertical-align: top !important;
}


.contact-link {
    position: absolute;
    top: .1em;
    right: 1em;
    font-size:14pt;
}

.order-wrapper {
    padding: .5em;
    margin-block: 1em;
    margin-inline: auto;
    transform: translateX(-10em);
    max-width: 25em;
    min-width: 25em;
    outline: 1px solid #5effd8;
    box-shadow: -2px -2px 16px 2px #dad7cd inset, -4px -4px 6px 5px #344e41;
}

    .order-wrapper:nth-child(n) {
        backdrop-filter: opacity(20%);
        border-radius: 10px;
        /*    background-color: #4e803d;*/
        background-color: #ecf39e77;
    }

.order-header {
    padding-block: 0;
    margin-block: 0;
    position: relative;
    font-family: 'Manrope', sans-serif;
    font-size: 14pt;
    font-weight: 600;
    color: #4f772d;
    border-bottom:1px solid silver;
    line-height:1em;
}
.order-header > ul > li {
    margin-inline: auto;
    

}