
/*
font-family: 'Amatic SC', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Nova Oval', cursive;
font-family: 'Manrope', sans-serif;
*/

.text-secondary {
    color: #4e803d !important;
    filter: contrast(4.5) saturate(2);
}

.align-bottom {
    vertical-align: bottom !important;
}

.align-top {
    vertical-align: top !important;
}


.contact-link {
    position: absolute;
    top: 0;
    right: 1em;
    font-size:14pt;
}

.order-wrapper {
    padding: .2em;
    margin-block: 1em;
    margin-inline: auto;
    transform: translateX(-10em);
    max-width: 25em;
    min-width: 25em;
    max-height: 8em;
    background-color: darkred;
}

.order-wrapper:nth-child(n) {
    backdrop-filter: opacity(20%);
    border-radius:10px;
/*    background-color: #4e803d;*/
    background-color: #ddffb2;
}