@model MerchantVM
@{
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="/css/Order.css" />

<label class="h4 mx-5 text-secondary font-weight-bold ">Current Orders</label>

@* -- Current Orders -- *@

<table class="table border border-2 border-success-subtle table-sm col-5 mx-4 me-auto mt-4 order-table">
    @foreach (Order order in Model.CurrentOrders)
    {
        @Html.DisplayFor(_ => order)
    }

</table>

@*end current orders*@


@* -- shipped orders --*@

<table class="table border border-2 border-success-subtle table-sm col-5 mx-4 me-auto mt-4 order-table">
    @if (Model.ShippedOrders.Count > 0)
    {

        @foreach (var order in Model.ShippedOrders)
        {
            @Html.DisplayFor(_ => order)
        }
    }
    else
    {
        <tr>
            <td colspan="4" class="h4">Nothing has been shipped.</td>
        </tr>
    }
</table>

@* end shipped orders*@