@model MerchantVM
<div class="container">
    <h2>No address is set for the Merchant. Please enter your shipping address</h2>
    <form method="post" asp-action="SaveMerchantAddress" asp-controller="Admin">
        <div><input type="text"><label for=""></label></div>
        <div><input type="text"><label for=""></label></div>
        <div><input type="text"><label for=""></label></div>
        <div><input type="text"><label for=""></label></div>
        <div><input type="text"><label for=""></label></div>
        <div><input type="text"><label for=""></label></div>
    </form>
</div>