@model MerchantVM
@{
    ViewData["Title"] = "Product management";
}

<div class="d-flex flex-row flex-wrap">

    @foreach (var product in Model.Products)
    {
        @Html.DisplayFor(_ => product)
    }

</div>

<a asp-action="AddProduct" asp-controller="Product" class="btn btn-primary">Add<img src="~/images/butterfly_icon.png" /></a> a new Product to the lineup
ss">