@model MerchantVM
@{
    ViewData["Title"] = "Product management";
}

<div class="d-flex flex-row flex-wrap">

    @foreach (var product in Model.Products)
    {
        @Html.DisplayFor(_ => product)
    }

</div>

<a asp-action="AddProduct" asp-controller="Product" class="notyf__icon">New Product + &emsp;<img src="~/images/butterfly_icon.png" /></a>

<link rel="stylesheet" href="/Views/Admin/Products.cshtml.css" />