@model MerchantVM
@{
    ViewData["Title"] = "Product management";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="product-list-view">


    <a asp-action="AddProduct" asp-controller="Product" class="notyf__icon sticky-lg-top">New Product + &emsp;<img src="~/images/butterfly_icon.png" /></a>


    <div class="container d-flex flex-row flex-wrap m-lg-5">
        @foreach (var product in Model.Products)
        {
            <div class="col">
                @Html.DisplayFor(_ => product)
                <a asp-action="DeleteProductAsync"><i class="bi bi-x-square text-danger"></i></a>
            </div>

        }
    </div>

</div>