@model MerchantVM
@{
    ViewData["Title"] = "Product management";
}

<div class="product-list-view">


    <a asp-action="AddProduct" asp-controller="Product" class="notyf__icon sticky-lg-top">New Product + &emsp;<img src="~/images/butterfly_icon.png" /></a>


    <div class="container d-flex flex-row flex-wrap m-lg-5">
        @foreach (var product in Model.Products)
        {
            <div class="hide-card">
                @if (product.ProductImage is not null)
                {
                    <img class="card-img-top" src="data:image;base64,@Convert.ToBase64String(product.ProductImage.ImageData)" alt="Product Image">
                }
                else
                {

                    <img src="~/images/butterflys.png" class="card-img-top" />
                }

            </div>
            <div class="col">
                @Html.DisplayFor(_ => product)
            </div>

        }
    </div>

</div>